In [1]:
import pandas as pd 
import numpy as np

### read datasets click,user,order,loan

In [3]:
df_click=pd.read_csv("t_click.csv")
print(df_click.shape)
df_click.head()

(10933016, 4)

     uid           click_time  pid  param
0  12177  2016-10-04 12:22:30    1     19
1  29226  2016-10-04 12:18:42    6      1
2  37351  2016-10-04 12:18:41   10     16
3  82053  2016-10-04 12:18:16    1     40
4  82053  2016-10-04 12:18:46    1     40

In [4]:
df_user=pd.read_csv("t_user.csv")
print(df_user.shape)
df_user.head()

(90993, 5)

     uid  age  sex active_date     limit
0  26308   30    1  2016-02-16  5.974677
1  78209   40    1  2016-02-21  5.292154
2  51930   35    1  2016-04-19  6.292055
3  10113   25    1  2016-03-12  6.292055
4  17067   35    1  2016-02-16  5.974677

In [5]:
df_order=pd.read_csv("t_order.csv")
print(df_order.shape)
df_order.head()

(5400778, 6)

     uid    buy_time     price  qty  cate_id  discount
0  45370  2016-11-23  3.995009    1       22       0.0
1  66975  2016-11-23  3.269410    1       26       0.0
2  75358  2016-11-23  2.255235    1       14       0.0
3  40597  2016-11-23  1.635284    1       20       0.0
4  83886  2016-11-23  1.920573    2       22       0.0

In [6]:
df_loan=pd.read_csv("t_loan.csv")
print(df_loan.shape)
df_loan.head()

(202902, 4)

     uid            loan_time  loan_amount  plannum
0  12135  2016-08-03 00:05:26     3.862595        1
1  41403  2016-08-03 00:13:25     5.584137        3
2  74458  2016-08-03 00:13:58     4.723017        1
3  12959  2016-08-03 00:19:33     3.862595        1
4  89641  2016-08-03 00:23:13     4.292651        1

### transform order data

In [7]:
# combine and drop columns
df_order["spend"]=df_order["price"]*df_order["qty"]-df_order["discount"]
df_order['buy_time']=pd.to_datetime(df_order["buy_time"])
df_order["month"]=df_order["buy_time"].dt.month
#df_order=df_order.drop("buy_time",axis=1)

In [8]:
df_order.head()

     uid   buy_time     price  qty  cate_id  discount     spend  month
0  45370 2016-11-23  3.995009    1       22       0.0  3.995009     11
1  66975 2016-11-23  3.269410    1       26       0.0  3.269410     11
2  75358 2016-11-23  2.255235    1       14       0.0  2.255235     11
3  40597 2016-11-23  1.635284    1       20       0.0  1.635284     11
4  83886 2016-11-23  1.920573    2       22       0.0  3.841145     11

In [9]:
savelist_8=[]
savelist_9=[]
savelist_10=[]
savelist_11=[]
spendlist_8=[]
spendlist_9=[]
spendlist_10=[]
spendlist_11=[]

for i in range(1,90994):
    data=df_order[df_order["uid"]==i]
    cate_spend_8=[]
    cate_spend_9=[]
    cate_spend_10=[]
    cate_spend_11=[]
    save_8=0
    save_9=0
    save_10=0
    save_11=0
    for k in range(44):
        cate_spend_8.append(0)
        cate_spend_9.append(0)
        cate_spend_10.append(0)
        cate_spend_11.append(0)
    #cate_8 8月各category消费金额
    for j in range(len(data)):
        if data.iloc[j]["month"]==8:
            cate_spend_8[data.iloc[j]["cate_id"]-1]+=data.iloc[j]["spend"]
            save_8+=data.iloc[j]["discount"]
        elif data.iloc[j]["month"]==9:
            cate_spend_9[data.iloc[j]["cate_id"]-1]+=data.iloc[j]["spend"]
            save_9+=data.iloc[j]["discount"]
        elif data.iloc[j]["month"]==10:
            cate_spend_10[data.iloc[j]["cate_id"]-1]+=data.iloc[j]["spend"]
            save_10+=data.iloc[j]["discount"]
        elif data.iloc[j]["month"]==11:
            cate_spend_11[data.iloc[j]["cate_id"]-1]+=data.iloc[j]["spend"]
            save_11+=data.iloc[j]["discount"]
    savelist_8.append(save_8)   
    savelist_9.append(save_9) 
    savelist_10.append(save_10) 
    savelist_11.append(save_11) 
    spendlist_8.append(cate_spend_8)
    spendlist_9.append(cate_spend_9)
    spendlist_10.append(cate_spend_10)
    spendlist_11.append(cate_spend_11)

In [ ]:
df_8=pd.DataFrame(spendlist_8)
df_8.columns=["8cat_"+str(i+1) for i in range(44)]
df_9=pd.DataFrame(spendlist_9)
df_9.columns=["9cat_"+str(i+1) for i in range(44)]
df_10=pd.DataFrame(spendlist_10)
df_10.columns=["10cat_"+str(i+1) for i in range(44)]
df_11=pd.DataFrame(spendlist_11)
df_11.columns=["11cat_"+str(i+1) for i in range(44)]
df_order_bycat=pd.concat([df_8,df_9,df_10,df_11],axis=1)
df_order_bycat["save_8"]=savelist_8
df_order_bycat["save_9"]=savelist_9
df_order_bycat["save_10"]=savelist_10
df_order_bycat["save_11"]=savelist_11
df_order_bycat.to_csv("df_order_bycat.csv",sep=",")

### transform user and loan data

In [12]:
# 账户激活时长
time_list_11=[]
time_list_12=[]
for i in range(0,90993):
    dt=datetime.strptime(df_user["active_date"][i], '%Y-%m-%d')
    time=(2016-dt.year)*12
    time=time+(11-dt.month)
    time_11=time+(15-dt.day)/30
    time_12=time_11+1
    time_list_11.append(time_11)
    time_list_12.append(time_12)
df_user["time-11"]=time_list_11
df_user["time-12"]=time_list_12

In [ ]:
df_user=df_user.drop("active_date",axis=1)
df_user=df_user.set_index("uid")
df_user=df_user.sort_index()

In [ ]:
df_user.to_csv("df_user.csv", sep=',')

In [ ]:
pay_11=[]
pay_12=[]  
loan_total_8=[]
loan_total_9=[]
loan_total_10=[]
loan_total_11=[]
for j in range(1,90994):
    data=df_loan[df_loan["uid"]==j]
    to_pay_11=0
    to_pay_12=0
    loan_8=0
    loan_9=0
    loan_10=0
    loan_11=0
    for i in range(0,len(data)):
        date=data.iloc[i]["loan_time"]
        dt=datetime.strptime(date, "%Y-%m-%d %H:%M:%S")
        if dt.month==8:
            loan_8+=data.iloc[i]["loan_amount"]
        elif dt.month==9:
            loan_9+=data.iloc[i]["loan_amount"]
        elif dt.month==10:
            loan_10+=data.iloc[i]["loan_amount"]
        elif dt.month==11:
            loan_11+=data.iloc[i]["loan_amount"]    

        time=11-dt.month
        if time<=data.iloc[i]["plannum"]:
            to_pay_11 += data.iloc[i]["loan_amount"]/data.iloc[i]["plannum"]
        time=12-dt.month
        if time<=data.iloc[i]["plannum"]:
            to_pay_12 += data.iloc[i]["loan_amount"]/data.iloc[i]["plannum"]
    pay_11.append(to_pay_11)
    pay_12.append(to_pay_12)
    loan_total_8.append(loan_8)
    loan_total_9.append(loan_9)
    loan_total_10.append(loan_10)
    loan_total_11.append(loan_11)
df_user["pay_11"]=pay_11
df_user["pay_12"]=pay_12
df_user["loan_8"]=loan_total_8
df_user["loan_9"]=loan_total_9
df_user["loan_10"]=loan_total_10
df_user["loan_11"]=loan_total_11

In [ ]:
df_user.to_csv("df_user_loan.csv", sep=',')

### transform click data

In [ ]:
click_month=[]
click_hour=[]
for date in df_click["click_time"]:
    dt=datetime.strptime(date, "%Y-%m-%d %H:%M:%S")
    click_month.append(dt.month)
    #set work hours as 1
    #set afterwork hours as 2
    if dt.hour >= 18 or dt.hour <= 8:
        click_hour.append(2)
    else:
        click_hour.append(1)
df_click["click_month"]=click_month
df_click["click_hour"]=click_hour

In [ ]:
click_afterwrk_id_8={}
click_afterwrk_id_9={}
click_afterwrk_id_10={}
click_afterwrk_id_11={}
click_wrk_id_8={}
click_wrk_id_9={}
click_wrk_id_10={}
click_wrk_id_11={}
for i in range(1,90994):
    click_afterwrk_id_8[i]=0
    click_afterwrk_id_9[i]=0
    click_afterwrk_id_10[i]=0
    click_afterwrk_id_11[i]=0
    click_wrk_id_8[i]=0
    click_wrk_id_9[i]=0
    click_wrk_id_10[i]=0
    click_wrk_id_11[i]=0

In [ ]:
for i in range(0,df_click.shape[0]):
    if df_click.iloc[i]["click_month"]==8:
        if df_click.iloc[i]["click_hour"]==1:
            click_wrk_id_8[df_click.iloc[i]["uid"]]+=1
        else:
            click_afterwrk_id_8[df_click.iloc[i]["uid"]]+=1
            
    else:
        if df_click.iloc[i]["click_month"]==9:
            if df_click.iloc[i]["click_hour"]==1:
                click_wrk_id_9[df_click.iloc[i]["uid"]]+=1
            else:
                click_afterwrk_id_9[df_click.iloc[i]["uid"]]+=1
        else:
            if df_click.iloc[i]["click_month"]==10:
                if df_click.iloc[i]["click_hour"]==1:
                    click_wrk_id_10[df_click.iloc[i]["uid"]]+=1
                else:
                    click_afterwrk_id_10[df_click.iloc[i]["uid"]]+=1
            else:
                if df_click.iloc[i]["click_month"]==11:
                    if df_click.iloc[i]["click_hour"]==1:
                        click_wrk_id_11[df_click.iloc[i]["uid"]]+=1
                    else:
                        click_afterwrk_id_11[df_click.iloc[i]["uid"]]+=1

In [ ]:
click_wrk_id_8 = pd.Series(click_wrk_id_8)
click_wrk_id_9 = pd.Series(click_wrk_id_9)
click_wrk_id_10 = pd.Series(click_wrk_id_10)
click_wrk_id_11 = pd.Series(click_wrk_id_11)
click_afterwrk_id_8 = pd.Series(click_afterwrk_id_8)
click_afterwrk_id_9 = pd.Series(click_afterwrk_id_9)
click_afterwrk_id_10 = pd.Series(click_afterwrk_id_10)
click_afterwrk_id_11 = pd.Series(click_afterwrk_id_11)

df_click_wrk_aft = pd.DataFrame(click_wrk_id_8, columns=['click_wrk_8'])
df_click_wrk_aft['click_wrk_9'] = click_wrk_id_9
df_click_wrk_aft['click_wrk_10'] = click_wrk_id_10
df_click_wrk_aft['click_wrk_11'] = click_wrk_id_11
df_click_wrk_aft['click_afterwrk_8'] = click_afterwrk_id_8
df_click_wrk_aft['click_afterwrk_9'] = click_afterwrk_id_9
df_click_wrk_aft['click_afterwrk_10'] = click_afterwrk_id_10
df_click_wrk_aft['click_afterwrk_11'] = click_afterwrk_id_11

df_click_wrk_aft.to_csv("df_click.csv", sep=',')

## Model

### model 1: NNRegression with all features

In [127]:
# form the csv used in this model
df1=pd.read_csv("df_user_loan.csv")
df2=pd.read_csv("df_click.csv")
df3=pd.read_csv("order_bycat_sum.csv")

In [128]:
df=pd.concat([df1,df2,df3],axis=1)
df=df.fillna(0)
df.columns.values

array(['uid', 'age', 'sex', 'limit', 'time-11', 'time-12', 'pay_11',
       'pay_12', 'loan_8', 'loan_9', 'loan_10', 'loan_11', 'click_wrk_8',
       'click_wrk_9', 'click_wrk_10', 'click_wrk_11', 'click_afterwrk_8',
       'click_afterwrk_9', 'click_afterwrk_10', 'click_afterwrk_11',
       'Unnamed: 0', 'Unnamed: 0.1', '8cat_1', '8cat_2', '8cat_3',
       '8cat_5', '8cat_6', '8cat_7', '8cat_9', '8cat_10', '8cat_11',
       '8cat_12', '8cat_13', '8cat_14', '8cat_15', '8cat_16', '8cat_17',
       '8cat_18', '8cat_19', '8cat_20', '8cat_21', '8cat_22', '8cat_23',
       '8cat_25', '8cat_26', '8cat_28', '8cat_31', '8cat_32', '8cat_33',
       '8cat_34', '8cat_35', '8cat_36', '8cat_38', '8cat_39', '8cat_40',
       '8cat_43', '8cat_44', '9cat_1', '9cat_2', '9cat_3', '9cat_5',
       '9cat_6', '9cat_7', '9cat_9', '9cat_10', '9cat_11', '9cat_12',
       '9cat_13', '9cat_14', '9cat_15', '9cat_16', '9cat_17', '9cat_18',
       '9cat_19', '9cat_20', '9cat_21', '9cat_22', '9cat_23', '9cat_25',
       '9cat_26', '9cat_28', '9cat_31', '9cat_32', '9cat_33', '9cat_34',
       '9cat_35', '9cat_36', '9cat_38', '9cat_39', '9cat_40', '9cat_43',
       '9cat_44', '10cat_1', '10cat_2', '10cat_3', '10cat_5', '10cat_6',
       '10cat_7', '10cat_9', '10cat_10', '10cat_11', '10cat_12',
       '10cat_13', '10cat_14', '10cat_15', '10cat_16', '10cat_17',
       '10cat_18', '10cat_19', '10cat_20', '10cat_21', '10cat_22',
       '10cat_23', '10cat_25', '10cat_26', '10cat_28', '10cat_31',
       '10cat_32', '10cat_33', '10cat_34', '10cat_35', '10cat_36',
       '10cat_38', '10cat_39', '10cat_40', '10cat_43', '10cat_44',
       '11cat_1', '11cat_2', '11cat_3', '11cat_5', '11cat_6', '11cat_7',
       '11cat_9', '11cat_10', '11cat_11', '11cat_12', '11cat_13',
       '11cat_14', '11cat_15', '11cat_16', '11cat_17', '11cat_18',
       '11cat_19', '11cat_20', '11cat_21', '11cat_22', '11cat_23',
       '11cat_25', '11cat_26', '11cat_28', '11cat_31', '11cat_32',
       '11cat_33', '11cat_34', '11cat_35', '11cat_36', '11cat_38',
       '11cat_39', '11cat_40', '11cat_43', '11cat_44', 'save_8', 'save_9',
       'save_10', 'save_11', 'cat8_sum', 'cat9_sum', 'cat10_sum',
       'cat11_sum'], dtype=object)

In [129]:
train_columns=['uid', 'age', 'sex', 'limit', 'time-11', 'pay_11',
      'loan_8', 'loan_9', 'loan_10','click_wrk_8',
       'click_wrk_9', 'click_wrk_10', 'click_afterwrk_8',
       'click_afterwrk_9', 'click_afterwrk_10', 
       '8cat_1', '8cat_2', '8cat_3',
       '8cat_5', '8cat_6', '8cat_7', '8cat_9', '8cat_10', '8cat_11',
       '8cat_12', '8cat_13', '8cat_14', '8cat_15', '8cat_16', '8cat_17',
       '8cat_18', '8cat_19', '8cat_20', '8cat_21', '8cat_22', '8cat_23',
       '8cat_25', '8cat_26', '8cat_28', '8cat_31', '8cat_32', '8cat_33',
       '8cat_34', '8cat_35', '8cat_36', '8cat_38', '8cat_39', '8cat_40',
       '8cat_43', '8cat_44', '9cat_1', '9cat_2', '9cat_3', '9cat_5',
       '9cat_6', '9cat_7', '9cat_9', '9cat_10', '9cat_11', '9cat_12',
       '9cat_13', '9cat_14', '9cat_15', '9cat_16', '9cat_17', '9cat_18',
       '9cat_19', '9cat_20', '9cat_21', '9cat_22', '9cat_23', '9cat_25',
       '9cat_26', '9cat_28', '9cat_31', '9cat_32', '9cat_33', '9cat_34',
       '9cat_35', '9cat_36', '9cat_38', '9cat_39', '9cat_40', '9cat_43',
       '9cat_44', '10cat_1', '10cat_2', '10cat_3', '10cat_5', '10cat_6',
       '10cat_7', '10cat_9', '10cat_10', '10cat_11', '10cat_12',
       '10cat_13', '10cat_14', '10cat_15', '10cat_16', '10cat_17',
       '10cat_18', '10cat_19', '10cat_20', '10cat_21', '10cat_22',
       '10cat_23', '10cat_25', '10cat_26', '10cat_28', '10cat_31',
       '10cat_32', '10cat_33', '10cat_34', '10cat_35', '10cat_36',
       '10cat_38', '10cat_39', '10cat_40', '10cat_43', '10cat_44',
       'save_8', 'save_9','save_10', 'cat8_sum', 'cat9_sum', 'cat10_sum']
test_columns=['uid', 'age', 'sex', 'limit', 'time-12', 'pay_12', 'loan_9', 'loan_10', 'loan_11', 
       'click_wrk_9', 'click_wrk_10', 'click_wrk_11', 'click_afterwrk_9', 'click_afterwrk_10', 'click_afterwrk_11','9cat_1', '9cat_2', '9cat_3', '9cat_5',
       '9cat_6', '9cat_7', '9cat_9', '9cat_10', '9cat_11', '9cat_12',
       '9cat_13', '9cat_14', '9cat_15', '9cat_16', '9cat_17', '9cat_18',
       '9cat_19', '9cat_20', '9cat_21', '9cat_22', '9cat_23', '9cat_25',
       '9cat_26', '9cat_28', '9cat_31', '9cat_32', '9cat_33', '9cat_34',
       '9cat_35', '9cat_36', '9cat_38', '9cat_39', '9cat_40', '9cat_43',
       '9cat_44', '10cat_1', '10cat_2', '10cat_3', '10cat_5', '10cat_6',
       '10cat_7', '10cat_9', '10cat_10', '10cat_11', '10cat_12',
       '10cat_13', '10cat_14', '10cat_15', '10cat_16', '10cat_17',
       '10cat_18', '10cat_19', '10cat_20', '10cat_21', '10cat_22',
       '10cat_23', '10cat_25', '10cat_26', '10cat_28', '10cat_31',
       '10cat_32', '10cat_33', '10cat_34', '10cat_35', '10cat_36',
       '10cat_38', '10cat_39', '10cat_40', '10cat_43', '10cat_44',
       '11cat_1', '11cat_2', '11cat_3', '11cat_5', '11cat_6', '11cat_7',
       '11cat_9', '11cat_10', '11cat_11', '11cat_12', '11cat_13',
       '11cat_14', '11cat_15', '11cat_16', '11cat_17', '11cat_18',
       '11cat_19', '11cat_20', '11cat_21', '11cat_22', '11cat_23',
       '11cat_25', '11cat_26', '11cat_28', '11cat_31', '11cat_32',
       '11cat_33', '11cat_34', '11cat_35', '11cat_36', '11cat_38',
       '11cat_39', '11cat_40', '11cat_43', '11cat_44', 'save_9',
       'save_10', 'save_11', 'cat9_sum', 'cat10_sum',
       'cat11_sum']

In [130]:
print(len(train_columns))
print(len(test_columns))

126
126

In [60]:
df_loan_sum=pd.read_csv("t_loan_sum.csv")
df_loan_sum=df_loan_sum.sort_values(by=["uid"])
print(min(df_loan_sum["loan_sum"]), max(df_loan_sum["loan_sum"]),np.mean(df_loan_sum["loan_sum"]))

3.862594545 8.433019093 5.56896173850699

In [6]:
ls_wrong=[]
for i in range(90993):
    if df.iloc[i]["loan_11"] > 8.5:
        ls_wrong.append(i)
len(ls_wrong)

8855

In [131]:
df_model1=df.drop(df.index[ls_wrong])

In [140]:
X=df_model1[train_columns]
Y=df_model1["loan_11"]
X = np.asarray(X)
Y = np.asarray(Y)

In [133]:
from keras.models import Sequential
from keras.layers import Dense
from keras.wrappers.scikit_learn import KerasRegressor
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline

In [152]:
def model():
	# create model
    model = Sequential()
    model.add(Dense(126, input_dim=126, kernel_initializer='normal', activation='relu'))
    model.add(Dense(64, kernel_initializer='normal', activation='relu'))
    model.add(Dense(32,kernel_initializer='normal',activation='relu'))
    model.add(Dense(16,kernel_initializer='normal',activation='relu'))
    model.add(Dense(1, kernel_initializer='normal'))
    # Compile model
    model.compile(loss='mean_squared_error', optimizer='adam')
    return model

In [153]:
offset = int(X.shape[0] * 0.9)
X_train, Y_train = X[:offset], Y[:offset]
X_test, Y_test = X[offset:], Y[offset:]

In [154]:
seed=7
np.random.seed(seed)
estimator=KerasRegressor(build_fn=model,nb_epoch=100,batch_size=5,verbose=0)
estimator.fit(X_train,Y_train)
mse = mean_squared_error(Y_test, estimator.predict(X_test))
print("MSE: %.4f" % mse)

MSE: 3.3514

In [77]:
empty=pd.read_csv("empty.csv",header=None)
X_test = df[test_columns]
X_test=np.asarray(X_test)

In [78]:
loan=estimator.predict(X_test)
for i in range(90993):
    if loan[i]<0:
        loan[i]=0

In [79]:
empty["loan_sum"]=loan
empty.to_csv("upload.csv",sep=",")

### model 2 selected feature

In [80]:
selected_cat=pd.read_csv("select_cat.csv")

In [81]:
selected_cat.columns.values

array(['Unnamed: 0', '8cat_1', '8cat_3', '8cat_6', '8cat_7', '8cat_10',
       '8cat_11', '8cat_13', '8cat_14', '8cat_15', '8cat_18', '8cat_21',
       '8cat_23', '8cat_26', '8cat_33', '8cat_35', '8cat_36', '9cat_1',
       '9cat_3', '9cat_6', '9cat_7', '9cat_10', '9cat_11', '9cat_13',
       '9cat_14', '9cat_15', '9cat_18', '9cat_21', '9cat_23', '9cat_26',
       '9cat_33', '9cat_35', '9cat_36', '10cat_1', '10cat_3', '10cat_6',
       '10cat_7', '10cat_10', '10cat_11', '10cat_13', '10cat_14',
       '10cat_15', '10cat_18', '10cat_21', '10cat_23', '10cat_26',
       '10cat_33', '10cat_35', '10cat_36', '11cat_1', '11cat_3', '11cat_6',
       '11cat_7', '11cat_10', '11cat_11', '11cat_13', '11cat_14',
       '11cat_15', '11cat_18', '11cat_21', '11cat_23', '11cat_26',
       '11cat_33', '11cat_35', '11cat_36', 'save_8', 'save_9', 'save_10',
       'save_11'], dtype=object)

In [88]:
select_list8=['8cat_1', '8cat_3', '8cat_6', '8cat_7', '8cat_10','8cat_11', '8cat_13', '8cat_14', '8cat_15', '8cat_18', '8cat_21','8cat_23', '8cat_26', '8cat_33', '8cat_35', '8cat_36']
select_list9=['9cat_1','9cat_3', '9cat_6', '9cat_7', '9cat_10', '9cat_11', '9cat_13','9cat_14', '9cat_15', '9cat_18', '9cat_21', '9cat_23', '9cat_26','9cat_33', '9cat_35', '9cat_36']
select_list10=['10cat_1', '10cat_3', '10cat_6','10cat_7', '10cat_10', '10cat_11', '10cat_13', '10cat_14','10cat_15', '10cat_18', '10cat_21', '10cat_23', '10cat_26','10cat_33', '10cat_35', '10cat_36']
select_list11=['11cat_1', '11cat_3', '11cat_6','11cat_7', '11cat_10', '11cat_11', '11cat_13', '11cat_14','11cat_15', '11cat_18', '11cat_21', '11cat_23', '11cat_26','11cat_33', '11cat_35', '11cat_36']

In [86]:
list_8=["8cat_"+str(i+1) for i in range(44)]
list_9=["9cat_"+str(i+1) for i in range(44)]
list_10=["10cat_"+str(i+1) for i in range(44)]
list_11=["11cat_"+str(i+1) for i in range(44)]

In [82]:
order_bycat=pd.read_csv("df_order_bycat.csv")

In [83]:
order_bycat.head()

,8cat_1,8cat_2,8cat_3,8cat_4,8cat_5,8cat_6,8cat_7,8cat_8,8cat_9,8cat_10,...,11cat_39,11cat_40,11cat_41,11cat_42,11cat_43,11cat_44,save_8,save_9,save_10,save_11
0,0.000000,0.000000,0.000000,0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.000000,0.0,0.0,0.0,0.0,23.754469,10.231237,11.550414,11.534104
1,0.000000,0.057330,14.453830,0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.000000,0.0,0.0,0.0,0.0,20.373181,4.357432,5.494219,7.263291
2,0.000000,5.875224,0.000000,0,0.0,0.0,0.0,0.0,0.0,2.231255,...,0.0,0.000000,0.0,0.0,0.0,0.0,21.384622,5.526825,2.802755,7.526378
3,0.000000,0.000000,0.199589,0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.000000,0.0,0.0,0.0,0.0,14.481022,1.891668,0.000000,0.000000
4,37.298239,0.000000,0.000000,0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,3.270569,0.0,0.0,0.0,0.0,68.255120,26.417586,57.058696,38.581924

In [89]:
selected_cat["sum8"]=order_bycat[list_8].sum(axis=1)-order_bycat[select_list8].sum(axis=1)
selected_cat["sum9"]=order_bycat[list_9].sum(axis=1)-order_bycat[select_list9].sum(axis=1)
selected_cat["sum10"]=order_bycat[list_10].sum(axis=1)-order_bycat[select_list10].sum(axis=1)
selected_cat["sum11"]=order_bycat[list_11].sum(axis=1)-order_bycat[select_list11].sum(axis=1)

In [90]:
df=pd.concat([df1,df2,selected_cat],axis=1)

In [91]:
df=df.fillna(0)
df.columns.values

array(['uid', 'age', 'sex', 'limit', 'time-11', 'time-12', 'pay_11',
       'pay_12', 'loan_8', 'loan_9', 'loan_10', 'loan_11', 'click_wrk_8',
       'click_wrk_9', 'click_wrk_10', 'click_wrk_11', 'click_afterwrk_8',
       'click_afterwrk_9', 'click_afterwrk_10', 'click_afterwrk_11',
       'Unnamed: 0', '8cat_1', '8cat_3', '8cat_6', '8cat_7', '8cat_10',
       '8cat_11', '8cat_13', '8cat_14', '8cat_15', '8cat_18', '8cat_21',
       '8cat_23', '8cat_26', '8cat_33', '8cat_35', '8cat_36', '9cat_1',
       '9cat_3', '9cat_6', '9cat_7', '9cat_10', '9cat_11', '9cat_13',
       '9cat_14', '9cat_15', '9cat_18', '9cat_21', '9cat_23', '9cat_26',
       '9cat_33', '9cat_35', '9cat_36', '10cat_1', '10cat_3', '10cat_6',
       '10cat_7', '10cat_10', '10cat_11', '10cat_13', '10cat_14',
       '10cat_15', '10cat_18', '10cat_21', '10cat_23', '10cat_26',
       '10cat_33', '10cat_35', '10cat_36', '11cat_1', '11cat_3', '11cat_6',
       '11cat_7', '11cat_10', '11cat_11', '11cat_13', '11cat_14',
       '11cat_15', '11cat_18', '11cat_21', '11cat_23', '11cat_26',
       '11cat_33', '11cat_35', '11cat_36', 'save_8', 'save_9', 'save_10',
       'save_11', 'sum8', 'sum9', 'sum10', 'sum11'], dtype=object)

In [94]:
train_columns=['uid', 'age', 'sex', 'limit', 'time-11', 'pay_11',
       'loan_8', 'loan_9', 'loan_10', 'click_wrk_8',
       'click_wrk_9', 'click_wrk_10', 'click_afterwrk_8',
       'click_afterwrk_9', 'click_afterwrk_10', '8cat_1', '8cat_3', '8cat_6', '8cat_7', '8cat_10',
       '8cat_11', '8cat_13', '8cat_14', '8cat_15', '8cat_18', '8cat_21',
       '8cat_23', '8cat_26', '8cat_33', '8cat_35', '8cat_36', '9cat_1',
       '9cat_3', '9cat_6', '9cat_7', '9cat_10', '9cat_11', '9cat_13',
       '9cat_14', '9cat_15', '9cat_18', '9cat_21', '9cat_23', '9cat_26',
       '9cat_33', '9cat_35', '9cat_36', '10cat_1', '10cat_3', '10cat_6',
       '10cat_7', '10cat_10', '10cat_11', '10cat_13', '10cat_14',
       '10cat_15', '10cat_18', '10cat_21', '10cat_23', '10cat_26',
       '10cat_33', '10cat_35', '10cat_36', 'save_8', 'save_9', 'save_10',
       'sum8', 'sum9', 'sum10']
test_columns=['uid', 'age', 'sex', 'limit', 'time-12', 
       'pay_12', 'loan_9', 'loan_10', 'loan_11', 
       'click_wrk_9', 'click_wrk_10', 'click_wrk_11', 
       'click_afterwrk_9', 'click_afterwrk_10', 'click_afterwrk_11', '9cat_1',
       '9cat_3', '9cat_6', '9cat_7', '9cat_10', '9cat_11', '9cat_13',
       '9cat_14', '9cat_15', '9cat_18', '9cat_21', '9cat_23', '9cat_26',
       '9cat_33', '9cat_35', '9cat_36', '10cat_1', '10cat_3', '10cat_6',
       '10cat_7', '10cat_10', '10cat_11', '10cat_13', '10cat_14',
       '10cat_15', '10cat_18', '10cat_21', '10cat_23', '10cat_26',
       '10cat_33', '10cat_35', '10cat_36', '11cat_1', '11cat_3', '11cat_6',
       '11cat_7', '11cat_10', '11cat_11', '11cat_13', '11cat_14',
       '11cat_15', '11cat_18', '11cat_21', '11cat_23', '11cat_26',
       '11cat_33', '11cat_35', '11cat_36', 'save_9', 'save_10',
       'save_11',  'sum9', 'sum10', 'sum11']

In [95]:
print(len(train_columns))
print(len(test_columns))

69
69

In [102]:
df_model2=df.drop(df.index[list])

In [103]:
X=df_model2[train_columns]
Y=df_model2["loan_11"]
X = np.asarray(X)
Y = np.asarray(Y)

In [135]:
#offset = int(X.shape[0] * 0.9)
#X_train, Y_train = X[:offset], Y[:offset]
#X_test, Y_test = X[offset:], Y[offset:]

In [136]:
def model():
	# create model
    model = Sequential()
    model.add(Dense(69, input_dim=69, kernel_initializer='normal', activation='relu'))
    model.add(Dense(32,kernel_initializer='normal',activation='relu'))
    model.add(Dense(1, kernel_initializer='normal'))
    # Compile model
    model.compile(loss='mean_squared_error', optimizer='adam')
    return model

In [138]:

#seed=7
#np.random.seed(seed)
#estimator=KerasRegressor(build_fn=model,nb_epoch=100,batch_size=5,verbose=0)
#estimator.fit(X_train,Y_train)
#mse = mean_squared_error(Y_test, estimator.predict(X_test))
#print("MSE: %.4f" % mse)

In [106]:
empty=pd.read_csv("empty.csv",header=None)
X_test = df[test_columns]
X_test=np.asarray(X_test)
loan=estimator.predict(X_test)
for i in range(90993):
    if loan[i]<0:
        loan[i]=0
empty["loan_sum"]=loan
empty.to_csv("upload.csv",sep=",")

### model 3 gradient boosting regression and Randomforest Regression with all features

In [2]:
import numpy as np
import matplotlib.pyplot as plt
from sklearn import ensemble
from sklearn import datasets
from sklearn.utils import shuffle
from sklearn.metrics import mean_squared_error

In [3]:
### load data
df1=pd.read_csv("df_user_loan.csv")
df2=pd.read_csv("df_click.csv")
df3=pd.read_csv("order_bycat_sum.csv")
df=pd.concat([df1,df2,df3],axis=1)
df=df.fillna(0)
df.columns.values

array(['uid', 'age', 'sex', 'limit', 'time-11', 'time-12', 'pay_11',
       'pay_12', 'loan_8', 'loan_9', 'loan_10', 'loan_11', 'click_wrk_8',
       'click_wrk_9', 'click_wrk_10', 'click_wrk_11', 'click_afterwrk_8',
       'click_afterwrk_9', 'click_afterwrk_10', 'click_afterwrk_11',
       'Unnamed: 0', 'Unnamed: 0.1', '8cat_1', '8cat_2', '8cat_3',
       '8cat_5', '8cat_6', '8cat_7', '8cat_9', '8cat_10', '8cat_11',
       '8cat_12', '8cat_13', '8cat_14', '8cat_15', '8cat_16', '8cat_17',
       '8cat_18', '8cat_19', '8cat_20', '8cat_21', '8cat_22', '8cat_23',
       '8cat_25', '8cat_26', '8cat_28', '8cat_31', '8cat_32', '8cat_33',
       '8cat_34', '8cat_35', '8cat_36', '8cat_38', '8cat_39', '8cat_40',
       '8cat_43', '8cat_44', '9cat_1', '9cat_2', '9cat_3', '9cat_5',
       '9cat_6', '9cat_7', '9cat_9', '9cat_10', '9cat_11', '9cat_12',
       '9cat_13', '9cat_14', '9cat_15', '9cat_16', '9cat_17', '9cat_18',
       '9cat_19', '9cat_20', '9cat_21', '9cat_22', '9cat_23', '9cat_25',
       '9cat_26', '9cat_28', '9cat_31', '9cat_32', '9cat_33', '9cat_34',
       '9cat_35', '9cat_36', '9cat_38', '9cat_39', '9cat_40', '9cat_43',
       '9cat_44', '10cat_1', '10cat_2', '10cat_3', '10cat_5', '10cat_6',
       '10cat_7', '10cat_9', '10cat_10', '10cat_11', '10cat_12',
       '10cat_13', '10cat_14', '10cat_15', '10cat_16', '10cat_17',
       '10cat_18', '10cat_19', '10cat_20', '10cat_21', '10cat_22',
       '10cat_23', '10cat_25', '10cat_26', '10cat_28', '10cat_31',
       '10cat_32', '10cat_33', '10cat_34', '10cat_35', '10cat_36',
       '10cat_38', '10cat_39', '10cat_40', '10cat_43', '10cat_44',
       '11cat_1', '11cat_2', '11cat_3', '11cat_5', '11cat_6', '11cat_7',
       '11cat_9', '11cat_10', '11cat_11', '11cat_12', '11cat_13',
       '11cat_14', '11cat_15', '11cat_16', '11cat_17', '11cat_18',
       '11cat_19', '11cat_20', '11cat_21', '11cat_22', '11cat_23',
       '11cat_25', '11cat_26', '11cat_28', '11cat_31', '11cat_32',
       '11cat_33', '11cat_34', '11cat_35', '11cat_36', '11cat_38',
       '11cat_39', '11cat_40', '11cat_43', '11cat_44', 'save_8', 'save_9',
       'save_10', 'save_11', 'cat8_sum', 'cat9_sum', 'cat10_sum',
       'cat11_sum'], dtype=object)

In [4]:
train_columns=['uid', 'age', 'sex', 'limit', 'time-11', 'pay_11',
      'loan_8', 'loan_9', 'loan_10','click_wrk_8',
       'click_wrk_9', 'click_wrk_10', 'click_afterwrk_8',
       'click_afterwrk_9', 'click_afterwrk_10', 
       '8cat_1', '8cat_2', '8cat_3',
       '8cat_5', '8cat_6', '8cat_7', '8cat_9', '8cat_10', '8cat_11',
       '8cat_12', '8cat_13', '8cat_14', '8cat_15', '8cat_16', '8cat_17',
       '8cat_18', '8cat_19', '8cat_20', '8cat_21', '8cat_22', '8cat_23',
       '8cat_25', '8cat_26', '8cat_28', '8cat_31', '8cat_32', '8cat_33',
       '8cat_34', '8cat_35', '8cat_36', '8cat_38', '8cat_39', '8cat_40',
       '8cat_43', '8cat_44', '9cat_1', '9cat_2', '9cat_3', '9cat_5',
       '9cat_6', '9cat_7', '9cat_9', '9cat_10', '9cat_11', '9cat_12',
       '9cat_13', '9cat_14', '9cat_15', '9cat_16', '9cat_17', '9cat_18',
       '9cat_19', '9cat_20', '9cat_21', '9cat_22', '9cat_23', '9cat_25',
       '9cat_26', '9cat_28', '9cat_31', '9cat_32', '9cat_33', '9cat_34',
       '9cat_35', '9cat_36', '9cat_38', '9cat_39', '9cat_40', '9cat_43',
       '9cat_44', '10cat_1', '10cat_2', '10cat_3', '10cat_5', '10cat_6',
       '10cat_7', '10cat_9', '10cat_10', '10cat_11', '10cat_12',
       '10cat_13', '10cat_14', '10cat_15', '10cat_16', '10cat_17',
       '10cat_18', '10cat_19', '10cat_20', '10cat_21', '10cat_22',
       '10cat_23', '10cat_25', '10cat_26', '10cat_28', '10cat_31',
       '10cat_32', '10cat_33', '10cat_34', '10cat_35', '10cat_36',
       '10cat_38', '10cat_39', '10cat_40', '10cat_43', '10cat_44',
       'save_8', 'save_9','save_10', 'cat8_sum', 'cat9_sum', 'cat10_sum']
test_columns=['uid', 'age', 'sex', 'limit', 'time-12', 'pay_12', 'loan_9', 'loan_10', 'loan_11', 
       'click_wrk_9', 'click_wrk_10', 'click_wrk_11', 'click_afterwrk_9', 'click_afterwrk_10', 'click_afterwrk_11','9cat_1', '9cat_2', '9cat_3', '9cat_5',
       '9cat_6', '9cat_7', '9cat_9', '9cat_10', '9cat_11', '9cat_12',
       '9cat_13', '9cat_14', '9cat_15', '9cat_16', '9cat_17', '9cat_18',
       '9cat_19', '9cat_20', '9cat_21', '9cat_22', '9cat_23', '9cat_25',
       '9cat_26', '9cat_28', '9cat_31', '9cat_32', '9cat_33', '9cat_34',
       '9cat_35', '9cat_36', '9cat_38', '9cat_39', '9cat_40', '9cat_43',
       '9cat_44', '10cat_1', '10cat_2', '10cat_3', '10cat_5', '10cat_6',
       '10cat_7', '10cat_9', '10cat_10', '10cat_11', '10cat_12',
       '10cat_13', '10cat_14', '10cat_15', '10cat_16', '10cat_17',
       '10cat_18', '10cat_19', '10cat_20', '10cat_21', '10cat_22',
       '10cat_23', '10cat_25', '10cat_26', '10cat_28', '10cat_31',
       '10cat_32', '10cat_33', '10cat_34', '10cat_35', '10cat_36',
       '10cat_38', '10cat_39', '10cat_40', '10cat_43', '10cat_44',
       '11cat_1', '11cat_2', '11cat_3', '11cat_5', '11cat_6', '11cat_7',
       '11cat_9', '11cat_10', '11cat_11', '11cat_12', '11cat_13',
       '11cat_14', '11cat_15', '11cat_16', '11cat_17', '11cat_18',
       '11cat_19', '11cat_20', '11cat_21', '11cat_22', '11cat_23',
       '11cat_25', '11cat_26', '11cat_28', '11cat_31', '11cat_32',
       '11cat_33', '11cat_34', '11cat_35', '11cat_36', '11cat_38',
       '11cat_39', '11cat_40', '11cat_43', '11cat_44', 'save_9',
       'save_10', 'save_11', 'cat9_sum', 'cat10_sum',
       'cat11_sum']

In [5]:
print(len(train_columns))
print(len(test_columns))

126
126

In [6]:
ls_wrong=[]
for i in range(90993):
    if df.iloc[i]["loan_11"] > 8.5:
        ls_wrong.append(i)
len(ls_wrong)

8855

In [7]:
df_model3=df.drop(df.index[ls_wrong])

In [18]:
X=df_model3[train_columns]
Y=df_model3["loan_11"]
X = np.asarray(X)
Y = np.asarray(Y)

In [19]:
offset = int(X.shape[0] * 0.9)
X_train, Y_train = X[:offset], Y[:offset]
X_test, Y_test = X[offset:], Y[offset:]

In [24]:
params = {'n_estimators': 3000, 'max_depth': 4, 'min_samples_split': 2,
          'learning_rate': 0.01, 'loss': 'ls'}
GBR = ensemble.GradientBoostingRegressor(**params)

GBR.fit(X, Y)
#GBR.fit(X_train, Y_train)
#mse = mean_squared_error(Y_test, GBR.predict(X_test))
#print("MSE: %.4f" % mse)

GradientBoostingRegressor(alpha=0.9, criterion='friedman_mse', init=None,
             learning_rate=0.01, loss='ls', max_depth=4, max_features=None,
             max_leaf_nodes=None, min_impurity_split=1e-07,
             min_samples_leaf=1, min_samples_split=2,
             min_weight_fraction_leaf=0.0, n_estimators=3000,
             presort='auto', random_state=None, subsample=1.0, verbose=0,
             warm_start=False)

In [21]:
len(X_train)

73924

In [12]:
params = {'max_depth':4}
RFR = ensemble.RandomForestRegressor(**params)

#clf.fit(X, Y)
#clf_RFR.fit(X_train, Y_train)
#mse = mean_squared_error(Y_test, clf.predict(X_test))
#print("MSE: %.4f" % mse)

In [13]:
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import RobustScaler
from sklearn.linear_model import Lasso
lasso = make_pipeline(RobustScaler(), Lasso(alpha =0.0005, random_state=1))

In [25]:
empty=pd.read_csv("empty.csv",header=None)
X_test = df[test_columns]
X_test=np.asarray(X_test)
loan=GBR.predict(X_test)
for i in range(90993):
    if loan[i]<0:
        loan[i]=0
empty["loan_sum"]=loan
empty.to_csv("upload.csv",sep=",")

### model 4 stacked regression with RandomForest, GradientBoosting, Kernel_Ridge Regression

In [14]:
from sklearn.base import BaseEstimator, TransformerMixin, RegressorMixin, clone
from sklearn.model_selection import KFold, cross_val_score, train_test_split
from sklearn.metrics import mean_squared_error

In [15]:
class StackingAveragedModels(BaseEstimator, RegressorMixin, TransformerMixin):
    def __init__(self, base_models, meta_model, n_folds=5):
        self.base_models = base_models
        self.meta_model = meta_model
        self.n_folds = n_folds
   
    # We again fit the data on clones of the original models
    def fit(self, X, y):
        self.base_models_ = [list() for x in self.base_models]
        self.meta_model_ = clone(self.meta_model)
        kfold = KFold(n_splits=self.n_folds, shuffle=True, random_state=156)
        
        # Train cloned base models then create out-of-fold predictions
        # that are needed to train the cloned meta-model
        out_of_fold_predictions = np.zeros((X.shape[0], len(self.base_models)))
        for i, model in enumerate(self.base_models):
            for train_index, holdout_index in kfold.split(X, y):
                instance = clone(model)
                self.base_models_[i].append(instance)
                instance.fit(X[train_index], y[train_index])
                y_pred = instance.predict(X[holdout_index])
                out_of_fold_predictions[holdout_index, i] = y_pred
                
        # Now train the cloned  meta-model using the out-of-fold predictions as new feature
        self.meta_model_.fit(out_of_fold_predictions, y)
        return self
   
    #Do the predictions of all base models on the test data and use the averaged predictions as 
    #meta-features for the final prediction which is done by the meta-model
    def predict(self, X):
        meta_features = np.column_stack([
            np.column_stack([model.predict(X) for model in base_models]).mean(axis=1)
            for base_models in self.base_models_ ])
        return self.meta_model_.predict(meta_features)

In [16]:
stacked_averaged_models = StackingAveragedModels(base_models = (RFR,GBR),
                                                 meta_model = lasso)

In [1]:
stacked_averaged_models.fit(X_train,Y_train)
mse = mean_squared_error(Y_test, stacked_averaged_models.predict(X_test))
print("MSE: %.4f" % mse)

In [ ]:
stacked_averaged_models.fit(X,Y)
empty=pd.read_csv("empty.csv",header=None)
X_12 = df[test_columns]
X_12=np.asarray(X_12)
loan=clf.predict(X_12)
for i in range(90993):
    if loan[i]<0:
        loan[i]=0
empty["loan_sum"]=loan
empty.to_csv("upload.csv",sep=",")